/**
 * Place your custom CSS styles here.
 **/

 .cx-mods-hidden {
  display: none !important;
 }

 .cx-mods#search-by-address {
   width: 100%;
   display: block;
 }
 .cx-mods #shipping-address-form input {
   width: 150px;
   display:inline-block;
 }

 .search-by-address-heading>h4{
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  color: #cdcdcd;
  margin-right: 20px;
  margin-bottom: 0px;
  padding: 3px 30px 0 0;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.2;
 }

 #cx-mods-locale-container {
   float: left;
   margin-right: 30px;
   margin-bottom: -8px;
 }

 #cx-mods-locale-container>span {
   margin-right: 5px;
 }

 #cx-mods-locale-container>span:last-child {
   margin-right: 0;
 }

 #cx-mods-locale-container img {
   width: 25px;
 }

 #page-nav-clone {
   list-style: none;
 }

 #page-nav-clone>li {
   display: inline-block;
 }